body {
      overflow:hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}

#box {
    min-width: 330px;
	min-height:350px;
    max-width: 30%;
    overflow: auto;
    /*margin: auto;*/
    border: thick solid #666;
    padding-bottom: 1px;
    border-radius: 10px;
    display: block;
}

#thbanner {
    display: inline-block;
    font-size: 3em;
    color: black;
    text-align: center;
    overflow: auto;
    width: 100%;
}

#gameBoard {
    /* margin-block-start: auto; */
    padding-inline-start: initial;
    padding-inline-end: 0px;
    margin-block-end: 0px;
    list-style: none;
    margin-left: 0;
}

.tic {
    display: table-cell;
    float: left;
    margin: 0px;
    padding: 0%;
    width: 10.5%;
    height: 55px;
    font-size: 3em;
    /* background-image: url(/views/img/car-icon-64.png); */
    color: #ccc;
    text-align: center;
    border:solid 1px rgb(53, 51, 53);
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

#tbanner {
    display: inline-block;
    border: thick black;
    overflow: auto;
    box-shadow: cornflowerblue;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.score{
    font-size: 0.3em;
    display: inline-block;
}


.container {
    min-width: 320px;
    min-height: 275px;
    position: relative;
    margin: 1px;
}

.tbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 5;
    background:transparent;
}

.stack-replay {
    min-height: 283px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 10;
    font-size: 3em;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
}

#arrowkeys{
    display: inline-block;
    border: thick black;
    overflow: auto;
    box-shadow: cornflowerblue;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
	margin-top: 7px;
}
.arrow {
    font-size: 1em;
    margin: 3px;
}
#arrowl, #arrowr, arrown {
	min-width: 50px;
}
