#box {
    min-width: 350px;
    max-width: 30%;
    overflow: auto;
    margin: 40px auto;
    border: thick solid #666;
    padding-bottom: 1px;
    border-radius: 10px;
    display: block;
}

#thbanner {
    display: inline-block;
    font-size: 3em;
    color: black;
    text-align: center;
    overflow: auto;
    width: 100%;
}

ul {
    margin-block-start: auto;
    padding-inline-start: initial;
    padding-inline-end: 0px;
    margin-block-end: 0px;
}

#gameBoard li {
    display: -webkit-inline-box;
    float: left;
    margin: 2px;
    width: 32%;
    height: 32%;
    font-size: 3em;
    background: rgb(136, 138, 132);
    color: #ccc;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tbanner {
    display: inline-block;
    border: thick black;
    overflow: auto;
    box-shadow: cornflowerblue;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;

}

.container {
    min-width: 330px;
    min-height: 330px;
    position: relative;
    margin: 5px;
}

.tbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background:transparent;
}

.stack-replay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 10;
    font-size: 3em;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
}

.stack-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 5;
    margin: 0px;
}

.x {
    min-height: 300px;
    width: 50%;
    height: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    font-size: 3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.o {
    width: 50%;
    right: 0px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    position: absolute;
    vertical-align: middle;
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}
